MINIO_SECRET_KEY = <MINIO SECRET>
MINIO_ACCESS_KEY = <MINIO ACCESS KEY>
MINIO_HOST = <MINIO HOST>
MINIO_PORT = <MINIO PORT>
MAIL_HOST = <MINIO HOST>
MAIL_PORT = <MINIO PORT>
MAIL_USER = <MINIO USER>
MAIL_PASS = <MINIO PASSWORD>
RABBITMQ_URL= <RABBITMQ URL>
DATABASE_URL = <DATABASE URL>
DB_HOST = <DATABASE HOST>
DB_NAME = <DATABASE NAME>
DB_USER = <DATABASE USER>
DB_PORT = <DATABASE PORT>
DB_PASSWORD = <DATABASE PASSWORD>