RABBITMQ_URL =  <YOUR RABBITMQ URL>
JWT_SECRET = <YOUR JWT SECRET>
JWT_REFRESH_SECRET = <YOUR REFRESH TOKEN SECRET>
DB_HOST = <YOUR DB HOST HERE>
DB_NAME = <YOUR DB NAME>
DB_USER = <YOUR DB USER>
DB_PORT = <YOUR DB PORT>
DB_PASSWORD = <YOUR DB PASSWORD>
FRONTEND_URL = 