RABBITMQ_URL= <YOUR RABBITMQ URL>
DB_HOST = <YOUR DB HOST HERE>
DB_NAME = <YOUR DB NAME>
DB_USER = <YOUR DB USER>
DB_PORT = <YOUR DB PORT>
DB_PASSWORD = <YOUR DB PASSWORD>
MINIO_SECRET_KEY = <MINIO SECRET KEY>
MINIO_ACCESS_KEY = <MINIO ACCESS KEY>
MINIO_HOST = <MINIO HOST>
MINIO_PORT = <MINIO PORT>