PORT = 
DB_HOST = 
DB_NAME = 
DB_USER = 
DB_PORT = 
DB_PASSWORD = 
JWT_SECRET = 
JWT_REFRESH_SECRET = 
REDIS_HOST = 
REDIS_PORT = 
ACCESS_EXPIRY = 
REFRESH_EXPIRY = 
REDIS_EXPIRY = 
MAIL_HOST = 
MAIL_PORT = 
MAIL_USER = 
MAIL_PASS = 
NODE_ENV = 
OTP_EXPIRY = 
ACCESS_EXPIRY = 
REFRESH_EXPIRY = 
FRONTEND_URL = 
API_GATEWAY_URL = 