PORT = <YOUR SERVER PORT>
DB_HOST = <YOUR DB HOST NAME>
DB_NAME = YOUR DB NAME>
DB_USER = <YOUR DB USER>
DB_PORT = <YOUR DB PORT>
DB_PASSWORD = <YOUR DB PASSWORD>
JWT_SECRET = <YOUR ACCESS TOKEN SECRET>
JWT_REFRESH_SECRET = <YOUR JWT REFRESH PHRASE>
REDIS_HOST = <REDIS HOST>
REDIS_PORT = <REDIS PORT>
REDIS_EXPIRY = <YOUR REDIS EXPIRY TIME IN SEC>
MAIL_HOST = <YOUR MAIL HOST>
MAIL_PORT = <YOUR MAIL PORT>
MAIL_USER = <MAIL USER >
MAIL_PASS = <YOUR MAIL PASSWORD>
NODE_ENV = <SPECIFY YOUR ENVIRONMENT>
OTP_EXPIRY = <YOUR OTp EXPIRY TIME>
ACCESS_EXPIRY = <YOUR ACCESS EXPIRY TIME>
REFRESH_EXPIRY = <YOUR REFRESH EXPIRY TIME>
FRONTEND_URL = <YOUR FRONTEND URL>
API_GATEWAY_URL = <YOUR API GATEWAY URL>
RATE_LIMIT_WINDOW = <SPECIFY WINDOW DURATION FOR RATE LIMITER>
MAX_REQUESTS = <MAXIMUM NUMBER OF REQUESTS WITHIN SPECIFIED DURATION>