JWT_SECRET = <YOUR JWT SECRET>
JWT_REFRESH_SECRET = <YOUR REFRESH SECRET>
AUTH_SERVICE_URL = <YOUR AUTH SERVICE URL>
CRAWL_MANAGER_URL = <YOUR CRAWL MANAGER URL>
FRONTEND_URL = <YOUR FRONTEND SERVICE URL>
FRONTEND_URL = < YOUR FRONTEND SERVICE URL>